body{
    font-size: 18px;
    background: rgba(183, 215, 219, 0.788);
    /* background-image: url('imagenes/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
.container{
    margin: auto;
    width: 960px;
    height: 850px;
    padding: 5px;
}
.logo{
    width: 100%;
    float: left;
    padding: 5px 0;
    margin-bottom: 20px;
}
.left{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}
.derecha{
    float: right;
    width: 30%;
    height: auto;
    border-radius: 24px;
    background: white;
}
.left-button{
    float: left;
    width: 70%;
    height: auto;
    border-radius: 24px;
}
.left-button p{
    margin-left: 100px;
    margin-bottom: 5px;
}
.logoIma{
    margin-top: 1%;
    float: inherit;
    margin-left: 5%;
}
.titulo{
    float: inherit;
    margin-left: 15%;
    margin-top: 1%;
    font-size: 28px;
    font-weight: bold;
}
#textoEntrada{
    float: left;
    margin: 10% 0 10% 10%;
    width: 80%;
    height: 80%;
    color: #0A3871;
    font-size: 20px;
    border: none;
    outline: none;
    background: rgba(183, 215, 219, 0.788);
}
#imaDerecha{
    margin-top: 20%;
    margin-left: 2%;
    width: 90%;
    height: auto;
}
#textoRef{
    margin-left: 5%;
    margin-right: 5%;
    font-size: 28px;
    font-weight: bold;
}
#textoSalida{
    float: left;
    margin-left: 10%;
    margin-top: 20px;
    color: #0A3871;
    width: 80%;
    height: 60%;
    border: none;
    outline: none;
    font-size: 15px;
}
#encriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 15%;
    background: #0A3871;
    
}
#desencriptar{
    padding: 24px;
    width: 30%;
    height: 60%;
    border-radius: 24px;
    margin-left: 10%;
    background: #D8DFE8;
}
#copiar{
    margin-left: 33%;
    margin-top: 90%;
    margin-bottom: 10px;
    padding: 24px;
    width: 40%;
    height: 10%;
    background: #D8DFE8;
    border-radius: 24px;
    display: none;
}
footer{
    position: absolute;
    top: 650px;
    width: 100%;
    height: 150px;
    color: rgb(8, 240, 27);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    background-image: url('imagenes/fondo.png');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-bottom: 20px;
    padding-top: 20px;
}


/* Estilos para visualizacion en una tablet de hasta 768px */

@media screen and (max-width:768px) {
    body{
        margin: 2px auto;
    }
    .container, .left, .derecha, .left-button, #textoSalida{
        width: 100%;
    }
    .container{
        height: 1151px;
    }
    .derecha{
        float: none;
        position: absolute;
        top: 701px;
        left: 30px;
        right: 5px;
        width: 95%;
        margin: 10px auto;
    }
    #imaDerecha{
        display: none;
    }
    #textoRef{
        text-align: center;
    }
    #textoSalida{
        margin: 10px auto;
        width: 98%;
    }
    #copiar{
        margin: 20px auto;
        position: absolute;
        left: 220px;
        bottom: 10%;
    }
    .left-button{
        float: none;
        position: absolute;
        top: 570px;
        left: 40px;
    }
    footer{
        position: absolute;
        top: 1001px;
    }
    
}

/* Estilos para visualizacion en un smartphone hasta 6" */

@media screen and (max-width:540px){
    .logo{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .logoIma{
        float: none;
        display: block;
        margin: 5% auto;
    }
    .derecha{
        float: none;
        position: absolute;
        top: 701px;
        left: 2px;
        right: 1px;
        width: 90%;
        margin: 1px 1%;
    }
    #imaDerecha{
        display: none;
    }
    #textoEntrada{
        margin: 1% 0 1% 1%;
        width: 90%;
    }
    .left-button{
        width: 90%;
        height: auto;
        border-radius: 24px;
        margin: 10px auto;
        float: none;
        position: absolute;
        top: 470px;
        left: 5px;
        gap: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .left-button p{
        text-align: left;
        margin: 5px auto;
    }
    #encriptar, #desencriptar{
        margin-left: 5%;
        width: 80%;
    }
    #copiar{
        margin: 20px auto;
        position: absolute;
        left: 100px;
        bottom: 5%;
    }
}
